*{
    margin: 0;
    padding: 0;
    font-family: 'Inconsolata', monospace;
}

/* header */

header {
    justify-content: space-between;
    display: flex;
    text-align: center;
    align-items: center;
    position: sticky;
    padding: 12px 10%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    top: 0;
    text-transform: capitalize;
    font-size: 16px;
    z-index: 1000;
    background-color: white;
}

.logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo img {
    width: 30px;
    height: 30px;
    background-color: coral;
    color:coral;
    padding: 5px 5px;
    border-radius: 10px;
}

.logo h3 {
    font-size: 1.2em;       
    font-weight: bold;
}

nav ul {
    display: flex;
    list-style: none;
    gap: 30px;
}

nav ul li a {
    text-decoration: none;
    color: #333333;
    font-weight: 500;
}

nav ul li a:hover {
    color: coral;
    text-decoration: underline;
}

.reserver {
    background-color: coral;
    padding: 8px 17px;
    align-items: center;
    color: white;
    cursor: pointer;
    border-radius: 5px;
}

.reserver:hover {
    box-shadow:0 4px 8px 0 rgba(0,0,0,0.2);
    text-decoration: none;
    color: white;
}

/* main page */

.main {
    background-image: url("../image/savourez.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 650px; 
    padding: 30px 10%;
    justify-content: center;
    text-align: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    color: aliceblue;

}

.main h2{
    font-size: 3.8rem;
    text-transform: capitalize;
    margin-bottom: 10px;
}

.main p {
    font-size: 1.1em;
}

/* section à propos de nous */

.propos {
    margin-top: 10px;
    display: flex;
    align-items: center;
    gap: 30px;
    padding: 90px 10%;    
}

.propos h6,
.propos h1,
.propos p {
  flex: 1 1 auto; 
  min-width: 0; 
  margin-left: 15px;
}

.propos h6 {
  font-size: 1.2em;
  color:coral;
  margin-bottom: 10px;
  border-radius: 5px;
}

.propos h1 {
  font-size: 3.2em;
  margin-bottom: 10px;
  font-weight: bold;
}

.propos img {
  width: 500px;
  max-width: 60%;
  height: auto;
  border-radius: 10px;
  margin-left: auto; 
}

.propos p {
    font-size: 1.1em;
    line-height: 1.6;
    color: #555555;
}

.partenaires {
  display: flex;
  align-items: center;
  margin-left: 20px;
  margin-top: 40px;
}

.partenaires img {
  width: 40px;
  height: 40px;
  border-radius: 50%; 
  border: 2px solid white; 
  margin-left: -12px; 
  background: white;
}

/* section spécialité */

.specialite {
    margin-top: 5px;
    padding: 50px;
    background-color: #f9f9f9;
    text-align: center;
    align-items: center;
}

.specialite h2 {
    text-transform: capitalize;
    font-size: 2.5rem;
    font-weight: bold;
}

.specialite p {
    color: #D2B48C;
}

ul {
    padding: 25px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    gap: 25px;
    cursor: pointer;
    color: #D2B48C;
    text-transform: capitalize;
    font-size: 1.1rem;
}

ul li {
    list-style: none;
}

ul li:hover {
    color:#555555;
    text-decoration: underline;
}

/* card */

.cards {
    display: flex;
    gap: 20px;
    padding: 35px;
    flex-wrap: wrap;
}

.card {
    display: flex; 
    flex-direction: row-reverse; 
    align-items: center; 
    border: 1px solid #ccc;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px; 
    background-color: #f9f9f9;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.1);
    width: calc(50% - 10px);  /* 2 cards par ligne */
    box-sizing: border-box;
}

.image_card {
    margin-left: 20px; 
}

.card_title {
    flex-grow: 1;
}

.card img {
    max-width: 250px; 
    height: auto;
    border-radius: 4px;
}

.btn {
    font-size: 1.3rem;
}

/* section partage */

.partage {
    margin-top: 10px;
    padding: 20px;
}

.partage h2 {
    text-align: center;
    align-items: center;
    text-transform: capitalize;
    font-size: 2.3rem;
}

.grid-container {
    display: flex;
    flex-wrap: wrap; 
    justify-content: center; 
    gap: 15px;
    padding: 20px;
}

.grid-item {
    flex-basis: 300px; 
    flex-grow: 1; 
    overflow: hidden;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.grid-item img {
    width: 100%; 
    height: auto; 
    display: block; 
    transition: transform 0.3s ease; 
}

.grid-item img:hover {
    transform: scale(1.05); 
}


/* section footer */

.footer {
    margin-top: 10px;
    padding: 20px;
    background-color: #1b140d;
    display: flex;
    justify-content: space-between;
    padding: 10px 5%;
    
}

.map-container iframe {
    border-radius: 15px;
}

.footer_title {
    color: white;
}


.bistro,
.address,
.hour,
.contact {
    display: flex;
    align-items: center;
    gap: 10px;
}

.bistro img,
.address img,
.hour img,
.contact img {
    width: 35px;
    height: 35px;
    padding: 5px 5px;
    border-radius: 10px;
}

.bistro h2{
    font-size: 2.1em;       
    font-weight: bold;
    text-transform: capitalize;
}

.address h5,
.hour h4,
.contact h5 {
    font-size: 2.1em;       
    font-weight: bold;
    text-transform: capitalize;
    margin-top: 20px;
}

.footer p {
    margin-left: 25px;
}

footer {
    display: flex;
    justify-content: space-between;
    background-color: #1b140d;
    padding-top: 25px;
}
